@import 'milligram/dist/milligram.css';
@import 'boxicons/css/boxicons.css';

html, body {
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
}

.hide {
  display: none;
}

.sortable {
  border: 1px solid #aaaaaa;
  border-radius: 0.4rem;
  margin: 2rem 0.5rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.sortChild {
  border: 1px solid #9b4dca;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.1rem 0rem;
  border-radius: 0.4rem;
  font-size: 2.4rem;
}

.sortChild:hover {
  background-color: #9b4dca;
  color: #ffffff;
}

.sortChild-drop {

}